@use "../../../src/scss/abstracts/variables" as *;

.avatar {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 12px;
  
    img {
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }
  }
h1{
    font-size: $h1;
    font-weight: $font-weight-500;
  }
