
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$font-family : 'Roboto', sans-serif;
$primary-color: #ECF2F6;
$secondary-color: #FFFFFF;
$border-subtitle: #C3D1E1;
$text-primary: #12171B;
$text-secondary :#627184;
$border-color-strong: #A3B1C2;
$button-primary: #1565C0;
$font-size: 12px;
$font-size-medium: 14px;
$font-size-regular: 13px;
$font-weight: 400;
$font-weight-bold: 500;


*{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

html, body {
    background-color: $primary-color;
    color: $text-primary;
    font-size: $font-size;
    font-weight: $font-weight;
  }