@use "../../../scss/abstracts/variables" as *;

nav {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .icon-button,
.create-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}.icon-button.active {
  background-color: $secondary-color;
}
.top-group {

    position: relative;
  
}.icon-home {
  padding: 8px 12px;
}