// Variables globales
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$primary-color: #ecf2f6;
$secondary-color: #ffffff;
$border-color: #c3d1e1;
$text-primary: #12171b;
$text-secondary: #627184;
$button-color: #1565c0;

$font-family: "Roboto", sans-serif;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;

$h1:$font-size-14;
$h2:$font-size-14

