@use "../../scss/abstracts/variables" as *;
header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 100vw;
  position: relative;
}

.left {
  display: flex;
  align-items: center;
  background-color: $secondary-color;
}

.right {
  display: flex;
  align-items: center;
}

.home-container {
  display: none;
  position: absolute;
  top: 100%;
  width: 100vw;
  background-color: $secondary-color;
  border-bottom: 1px solid $border-color;
  z-index: 100;
}

.home-container.show {
  display: block;
}
.icon-button.active {
  background-color: $secondary-color;
}
