@use "../../../src/scss/abstracts/variables" as *;

.meta {
    display: flex;
    flex-direction: column;
    width: 248px;
    height: 32px;
  
    &-labels,
    &-values {
      display: flex;
      justify-content: space-between;
      font-size: $font-size-12;
      font-weight: $font-weight-500;
    }
  
    &-labels {
      color: $text-primary;
    }
  
    &-values {
      color: $text-secondary;
    }
  }