@use "../../scss/abstracts/variables" as *;

.search-bar {
  display: flex;
  flex-direction: column;

  > div {
    display: flex;
    margin-top: 5px;
  }

  input {
    width: 190px;
    padding: 6px 8px;
    border: 1px solid $border-color;
    border-right: none;
    border-radius: 6px 0 0 6px;
    font-style: italic;
    font-size: $font-size-13;
    color: $text-primary;
    background-color: $secondary-color;
  }

  label {
    font-size: $font-size-14;
    font-weight: $font-weight-500;
  }

  .search-button {
    height: 30px;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $button-color;
    border: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;

    .search-icon {
      width: 16px;
      height: 16px;
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
