.icons-container {
  display: flex;
  gap: 16px;
  margin: 0 auto;
  align-items: center;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}
