// Variables globales
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$primary-color: #ecf2f6;
$secondary-color: #ffffff;
$border-color: #c3d1e1;
$text-primary: #12171b;
$text-secondary: #627184;
$button-color: #1565c0;

$font-family: "Roboto", sans-serif;
$font-size-small: 12px;
$font-size-regular: 14px;
$font-weight-normal: 400;
$font-weight-bold: 700;
