@use "../../../../src/scss/abstracts/variables" as *;

/* Conteneur global */
.card-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

/* Carte */
.card {
  width: 280px;
  height: 407px;
  border-radius: 8px;
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
}




/* Accessibilité*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}
