@use "../../../../src/scss/abstracts/variables" as *;

.card-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.card {
  width: 280px;
  height: 407px;
  border-radius: 10px;
  background-color: $secondary-color;
}

.card-header {
  padding: 4px;
  height: 44px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.card-header .checkbox {
  align-self: center;
}

.card-header .icon {
  font-size: 24px;
  align-self: center;
}

.card-media img {
  width: 280px;
  height: 120px;
  object-fit: cover;
}

.card-content {
  padding: 8px 16px 0 16px;
  height: 183px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.description {
  font-size: $font-size-13;
}

.meta {  width: 248px;

  display: flex;
  flex-direction: column;
  height: 32px;
}

.meta-labels,
.meta-values {
  display: flex;
  justify-content: space-between;
}

.meta-labels {
  color: $text-primary;
  font-weight: $font-weight-500;
  font-size: $font-size-12;
}
.meta-values {
  color: $text-secondary;
  font-weight: $font-weight-500;
  font-size: $font-size-12;
}

.h2 {
  font-size: $h2;
}

.avatar {
  display: flex;
  padding-left: 12px;
  gap: 8px;
  align-items: center;
}


.description,.name{
  margin: 0;
  height: 43.5px;
  width: 248px;

}
